::selection {
  color: cyan;
  background-color: black;
}

/*********************************** Navbar   *******************************************/

.header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* For Sticky Header */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.img-logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 3.8rem;
}

.main-nav-links:link,
.main-nav-links:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav-links:hover,
.main-nav-links:active {
  color: #cf711f;
}

/* Applied to nav button */
.nav-btn.btn.btn--cta {
  padding: 1.2rem 2.4rem;
}

/*********************************** Hero Section  *******************************************/
/* Hero Container */
.section-hero {
  background-color: var(--secondary-color);
  padding: 4.8rem 0 9.6rem 0;
}

/* hero sub-container */
.hero {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

/* Description */
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* image of hero sections */
.hero-img {
  width: 100%;
}

/*********************************** Customer Face Section  *******************************************/

/* all customers face pic container */
.customer--faces {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
/* all customers face pics */
.cust--image {
  border-radius: 50%;
  width: 4.8rem;
  height: auto;
  margin-right: -3rem;
  border: solid 3px var(--secondary-color);
}
/* last image pic */
.last-image {
  margin: 0;
}

/* para */
.para {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Span tag order count */
.orders--count {
  color: #cf711f;
  font-weight: 700;
}

/******************************* Featured Section *************************************/

/* Section */
.section-featured {
  margin: 4.6rem 0 3.2rem 0;
}

/* Heading */
.heading-quarter {
  text-align: center;
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 2.4rem;
  line-height: 1.05;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
}

/* Logo Images */
.featured-image {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/***********************************  Section-how  *******************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-img {
  width: 35%;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: #cf711f;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 800;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-image-box:before,
.step-image-box:after {
  content: "";
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

/* Circular shadow 1 */

.step-image-box:before {
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
  background-color: #fdf2e9;
}

/* Circular shadow 2 */
.step-image-box:after {
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
  background-color: #fae5d3;
}

/************************************** Menu Section **************************************************************************/

.section-meals {
  padding: 9.6rem 0;
}

/* Card Div */
.meal {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/* Hover effect on card div. Move on top by 10px */
.meal:hover {
  transform: translate(0, -10px);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.heading-meal {
  color: #cf711f;
}

/* Card image */
.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
/* Tags Styling  */
.tag {
  display: inline-block;
  border-radius: 8px;
  color: black;
  text-transform: uppercase;
  padding: 4px 8px;
  margin-bottom: 1.2rem;
  font-weight: 600;
  font-weight: 1.4rem;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

/* Title or name of meal */
.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

/* meal attributes container */
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Individual meal-attribute */
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
/* Svg icon as a list marker */
.icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}

.diet-item {
  list-style-type: none;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.2px;
}

.diet-attribute {
  font-size: 1.8rem;
}

.diet-class {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diet-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* See all recieps */
.all-recieps {
  text-align: center;
  font-size: 1.8rem;
}

/*************************************Testimonials Section **************************************************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonials-container {
  padding: 9.6rem;
  align-self: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.test-img {
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/********************************************************** Gallery *************************************/

.gallery {
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gallery-img:hover {
  transform: scale(1.1);
}

/************************************* Pricing Section *****************************************************************************************/

.section-pricing {
  padding: 9.6rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-heading {
  text-transform: capitalize;
  font-size: 4.8rem;
  font-weight: 800;
}

.plan--starter {
  justify-self: end;
  border: solid 2px #fdf2e9;
  padding: 4.6rem;
}

.plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.price-name {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.price-plan {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.price-plan span {
  font-weight: 500;
  font-size: 3rem;
  margin-right: 0.8rem;
}

.price-text {
  font-size: 1.6rem;
  color: #6f6f6f;
  line-height: 1.6;
}

.plan-signup {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
}
